<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final CV</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="wrapper">
        <section class="column">
            <div class="photo">
                <img src="" alt="" class="cv-img">
                <p class="cv-img-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae minus quas facere similique quod non consequuntur explicabo et ullam iure architecto maxime quis porro, assumenda, neque animi doloribus alias pariatur.
                </p>
            </div>
            <div class="personal-data">
                <div class="data-block">
                    <h3 class="data-block-title">CONTACTO</h3>
                    <div class="divisor-bar"></div>
                    <ul class="contact-list">
                        <li class="contact-list-item list-item">

                        </li>
                        <li class="contact-list-item list-item">

                        </li>
                        <li class="contact-list-item list-item">

                        </li>
                        <li class="contact-list-item list-item">

                        </li>
                    </ul>
                </div>
                <div class="data-block">
                    <h3 class="data-block-title">HABILIDADES</h3>
                    <div class="divisor-bar"></div>
                    <ul class="skills-list">
                        <li class="skills-list-item list-item">

                        </li>
                        <li class="skills-list-item list-item">

                        </li>
                        <li class="skills-list-item list-item">

                        </li>
                        <li class="skills-list-item list-item">

                        </li>
                        <li class="skills-list-item list-item">

                        </li>
                    </ul>
                </div>
                <div class="data-block">
                    <h3 class="data-block-title">IDIOMAS</h3>
                    <div class="divisor-line"></div>
                    <ul class="languages-list">
                        <li class="languages-list-item list item">

                        </li>
                        <li class="languages-list-item list item">

                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="column">
            <div class="name">
                <h1 class="profile-name"></h1>
                <h2 class="profile-job"></h2>
            </div>

            <div class="profesional-data">
                <div class="profesional-data-title">
                    <h2 class="p-d-title">FORMACIÓN ACADÉMICA</h2>
                    <div class="divisor-line"></div>
                </div>
                <div class="academic-training">
                    <h4 class="a-t-date"></h4>
                    <h4 class="a-t-title"></h4>
                    <p class="a-t-content"></p>
                </div>
                <div class="academic-training">
                    <h4 class="a-t-date"></h4>
                    <h4 class="a-t-title"></h4>
                    <p class="a-t-content"></p>
                </div>
                <div class="academic-training">
                    <h4 class="a-t-date"></h4>
                    <h4 class="a-t-title"></h4>
                    <p class="a-t-content"></p>

                </div>

                <div class="profesional-data-title">
                    <h2 class="p-d-title">PROYECTOS</h2>
                    <div class="divisor-line"></div>
                </div>
                <div class="profile-projects">
                    <h4 class="p-p-date"></h4>
                    <h4 class="p-p-title"></h4>
                    <p class="p-p-content"></p>
                </div>
                <div class="profile-projects">
                    <h4 class="p-p-date"></h4>
                    <h4 class="p-p-title"></h4>
                    <p class="p-p-content"></p>
                </div>
                <div class="profile-projects">
                    <h4 class="p-p-date"></h4>
                    <h4 class="p-p-title"></h4>
                    <p class="p-p-content"></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>